<div class="cards_wrap">
    <div class="cards_wrap__card">
      <div class="cards_wrap__card-stick">
          <div class="top">
            <p>Sectors</p>
  
            <h1>Our Focus Areas</h1>
        </div>
  
        <div class="bottom">
            <h5>
                We bring expertise to multiple construction sectors,
                <br> developing the industry's future and redefining what is possible.
            </h5>
        </div>
  
      </div>
    </div>
  
    <div class="cards_wrap__card">
      <div class="cards_wrap__card-other color2">
        <div class="hContainer">
          <div class="left">
              <div class="leftContent">
                  <p>01</p>
  
                  <h1> Card 1 </h1>
  
                  <h4>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ratione velit voluptas beatae, necessitatibus possimus natus accusamus quo a deleniti? Debitis, nulla modi aspernatur ullam rerum pariatur fuga eius rem.
                  </h4>
              </div>
          </div>
  
          <div class="right">
              <img src='https://images.pexels.com/photos/7358746/pexels-photo-7358746.jpeg'>
          </div>
      </div>
      </div>
    </div>
  
    <div class="cards_wrap__card">
      <div class="cards_wrap__card-other color3">
        <div class="hContainer">
          <div class="left">
              <div class="leftContent">
                  <p>02</p>
  
                  <h1> Card 2 </h1>
  
                  <h4>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ratione velit voluptas beatae, necessitatibus possimus natus accusamus quo a deleniti? Debitis, nulla modi aspernatur ullam rerum pariatur fuga eius rem.
                  </h4>
              </div>
          </div>
  
          <div class="right">
              <img src='https://images.pexels.com/photos/10675505/pexels-photo-10675505.jpeg'>
          </div>
      </div>
      </div>
    </div>
  
    <div class="cards_wrap__card">
      <div class="cards_wrap__card-other color4">
        <div class="hContainer">
          <div class="left">
              <div class="leftContent">
                  <p>03</p>
  
                  <h1> Card 3 </h1>
  
                  <h4>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ratione velit voluptas beatae, necessitatibus possimus natus accusamus quo a deleniti? Debitis, nulla modi aspernatur ullam rerum pariatur fuga eius rem.
                  </h4>
              </div>
          </div>
  
          <div class="right">
              <img src='https://images.pexels.com/photos/14365833/pexels-photo-14365833.jpeg'>
          </div>
      </div>
      </div>
    </div>
  
    <div class="cards_wrap__card">
      <div class="cards_wrap__card-other last">
        <div class="hContainer">
          <div class="left">
              <div class="leftContent">
                  <p>04</p>
  
                  <h1> Card 4 </h1>
  
                  <h4>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ratione velit voluptas beatae, necessitatibus possimus natus accusamus quo a deleniti? Debitis, nulla modi aspernatur ullam rerum pariatur fuga eius rem.
                  </h4>
              </div>
          </div>
  
          <div class="right">
              <img src='https://images.pexels.com/photos/7509167/pexels-photo-7509167.jpeg'>
          </div>
      </div>
      </div>
    </div>
  </div>
  
  <!-- <div class="cards_wrap__card">
      <div class="cards_wrap__card-other last">
        <div class="cards_wrap__card-other color2">
          <div class="hContainer">
            <div class="left">
                <div class="leftContent">
                    <p>01</p>
    
                    <h1> Card 1 </h1>
    
                    <h4>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ratione velit voluptas beatae, necessitatibus possimus natus accusamus quo a deleniti? Debitis, nulla modi aspernatur ullam rerum pariatur fuga eius rem.
                    </h4>
                </div>
            </div>
    
            <div class="right">
                <img src='../../../../../assets/card1.jpg'>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div> -->
  
  