$card-height: 90vh;
$card-length: 5;
$class-name: cards_wrap;

.#{$class-name} {
  &__card {
    h2 {
      font-size: 5vw;
      text-align: center;
      span {
        margin-top: 1rem;
        display: block;
        font-size: 1rem;
        font-weight: normal;
      }
    }

    &-stick {
      top: 2vh;
      position: sticky;
      margin-inline: 3%;
      padding: 3%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      border-radius: 2rem;
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://picsum.photos/id/1/200/300');
      background-size: cover;
      height: $card-height;

      h1 {
        font-size: 3.5rem;
        color: white;
      }

      .bottom {
        margin-bottom: 17%;
        width: 50%;
        h5 {
          font-weight: 400;
          font-size: 1.5rem;
          line-height: 1.7em;
        }
      }
    }

    &-other {
      top: 27vh;
      position: sticky;
      margin-inline: 3%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 2rem;
      height: calc(#{$card-height} - 25vh);

      &.color2,
      &.color3,
      &.color4,
      &.last {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://picsum.photos/id/1/200/300');
        background-size: cover;
        background-position: center;
      }
    }

    @for $i from 0 through $card-length {
      &:nth-child(#{$i}) {
        @if $i > 1 {
          margin-top: calc(-#{$card-height} * ($card-length - $i + 1));
        }
        height: calc(#{$card-height} * ($card-length - $i) + #{$card-height});
      }
    }
  }
}

.hContainer {
  background-color: #fff;
  color: #252525 !important;
  border-radius: 2em;
  height: calc(#{$card-height} - 25vh);
  width: 100%;
  box-sizing: border-box;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .right {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: flex-end;

    img {
      height: 100%;
      position: relative;
      width: 80%;
      border-radius: 3%;
      object-fit: cover;
    }
  }

  .left {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 60%;

    .leftContent {
      p {
        margin-bottom: 5%;
        font-size: small;
      }

      h1 {
        margin-bottom: 3em;
        font-size: 2rem;
        color: #252525 !important;
      }

      h4 {
        font-weight: 300;
        line-height: 2vw;
      }

      p {
        color: #252525 !important;
      }
    }
  }
}
