<section>
    <div class="hContainer">
        <div class="left test">
            <div class="leftContent left">
                <p>Solutions</p>

                <h1>We Plan, We Build, <br>We Deliver</h1>

                <h4>
                    We offer a comprehensive array of services, from the planning stage to post-construction facility management. You can count on the utmost professionalism in all that we do.
                </h4>
            </div>

            <p class="learnBtn">Learn How BTN</p>
        </div>

        <div class="right">
            <img src="https://images.pexels.com/photos/1579356/pexels-photo-1579356.jpeg" alt="">
        </div>
    </div>
</section>