<section #cardLeftSectoin>
    <div class="hContainer">
        <div class="left test">
            <div class="leftContent left">
                <p>Solutions</p>

                <h1>We Plan, We Build, <br>We Deliver</h1>

                <h4>
                    We offer a comprehensive array of services, from the planning stage to post-construction facility management. You can count on the utmost professionalism in all that we do.
                </h4>
            </div>

            <p class="learnBtn">Learn How BTN</p>
        </div>

        <div class="right">
            <img src="https://images.pexels.com/photos/1579356/pexels-photo-1579356.jpeg" alt="">
            <!-- <video autoplay loop muted>
                <source src="//player.vimeo.com/video/179738647?title=0&portrait=0&byline=0&autoplay=1&loop=1&transparent=1&muted=1" type="video/mp4">
            </video> -->
        </div>
    </div>
</section>