<section>
    <div class="hContainer">
        <p>mission</p>
        <div class="content">
            <div class="left">
                <h1>Empowring Progress through Innovation in Construction</h1>

                <h4>
                    Redfine the standards of construction by seamlessly integrating precision engineering, cutting-edge technology and commitment to sustainability.
                </h4>

                <p class="learnBtn">Learn How BTN</p>
            </div>

            <div class="right">
                <img src="https://images.unsplash.com/photo-1533378890784-b2a5b0a59d40?q=80&w=2037&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
        </div>
    </div>
</section>