section {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    color: rgb(49, 49, 49);
    margin: 0;
    padding-inline: 3%;
}

.hContainer {
    background:white;
    background-size: cover;
    background-position-y: -25vh;
    border-radius: 2em;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 0.8%;
    text-align: center;
    margin-bottom: 2em; 
}

h6 {
    margin: 0;
}