.example-spacer {
    flex: 1 1 auto;
  }
  
  mat-toolbar {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  span {
    color: white;
    background-color: transparent;
  }
  
  img {
    width: 80%;
  }
  