/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  padding: 0;
  margin: 0;
  font-weight: 400;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, li, ul {
  line-height: normal;
}




$custom-primary-palette: (
  50: #ecfdf5,
  100: #d1fae5,
  200: #a7f3d0,
  300: #6ee7b7,
  400: #34d399,
  500: #10b981,
  600: #059669,
  700: #047857,
  800: #065f46,
  900: #064e3b,
  950: #022c22,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    950: #fff,
  ),
);

$custom-accent-palette: (
  50: #fff7ed,
  100: #ffedd5,
  200: #fed7aa,
  300: #fdba74,
  400: #fb923c,
  500: #f97316,
  600: #ea580c,
  700: #c2410c,
  800: #9a3412,
  900: #7c2d12,
  950: #431407,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #000,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    950: #fff,
  ),
);


$custom-typography: mat.define-typography-config($font-family:"Inter");
$custom-primary: mat.define-palette($custom-primary-palette,900,800);
$custom-accent: mat.define-palette($custom-accent-palette);
$custom-warn: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn
  ),
  typography: $custom-typography,
)); 

@include mat.all-component-themes($custom-theme);

